html, body {
    height: 100%;
    background-color: #24252e;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1,h2,h3 {
    color: mediumorchid;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p {
    font-size: larger;
}

a {
    color: aquamarine;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: aquamarine;   
}

.post-title {
    color: aquamarine;
}

.post-title:hover {
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

.nav-item.nav-link {
    color: aquamarine;
    font-size: x-large;
}

.nav-item.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

#logo {
    position: relative;
    display: block;
}

#logo img {
    position: absolute;
    top: 0px;
    right: 0px;
}